

                <h1 class="page-header">Forms</h1>
                <ul class="nav nav-tabs">
                    <li class="active" role="presentation"><a href="#/forms">Forms</a></li>
                    <li role="presentation"><a href="views/forms/form-fields.view.html">Fields</a></li>
                </ul>
            <div class="table-responsive">
                <table class="table table-striped table-bordered" ng-controller ="FormController">
                    <thead>
                    <tr>
                        <th>
                            <span class="glyphicon glyphicon-triangle-bottom"></span>
                            <b>Form Name</b></th>
                        <th>
                            <span class="glyphicon glyphicon-triangle-bottom"></span>
                            <b>Action</b></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <input type="text" name="name" placeholder="name" class="form-control" ng-model="newForm.name">
                        </td>
                        <td>
                            <a class="colorer" ng-click="addForm()">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                            <a class="colorer" ng-click="updateForm()">
                                <span class="glyphicon glyphicon-ok"></span>
                            </a>
                        </td>
                    </tr>
                    <tr ng-repeat="form in forms">
                        <td>{{form.name}}</td>

                        <td>
                            <a class="colorer" ng-click="deleteForm($index)">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                            <a class="colorer" ng-click="selectForm($index)">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </td>
                    </tr>

                    </tbody>

                </table>

            </div>






