<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="HeaderController">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand mesut"  href="#">Events</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="currentUser" ng-class="{'active' : $location.url()=='/home'}"><a href="#/home">Register</a></li>
                <li ng-hide="currentUser" ng-class="{'active' : $location.url()=='/login'}"><a href="#/login">Login</a></li>
                <li ng-show="currentUser"><a href="#/profile">Username</a></li>
                <li ng-show="currentUser">
                    <a ng-click="logOut()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>





















<!DOCTYPE html>
<html lang="en" ng-app="EventApp">
<head>
    <meta charset="UTF-8">
    <title>Event Create Page</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="js/app.js"></script>
    <style>
        .nowrap {
            white-space: nowrap;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Create Your own Event!</h1>
    <table ng-controller="MovieListController"
           class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Event Name</th>
            <th>Event Location</th>
            <th>Event Category</th>
            <th>&nbsp;</th>
        </tr>
        <tr>
            <th><input ng-model="movie.id" class="form-control"/></th>
            <th><input ng-model="movie.title" class="form-control"/></th>
            <th><input ng-model="movie.director" class="form-control"/></th>
            <th>
                <button ng-click="addMovie(movie)"
                        class="btn btn-success">
                    Add
                </button>
                <button ng-click="updateMovie(movie)"
                        class="btn btn-primary">
                    Update
                </button>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="movie in movies">
            <td>{{movie.id}}</td>
            <td>{{movie.title}}</td>
            <td>{{movie.director}}</td>
            <td class="nowrap">
                <button ng-click="deleteMovie(movie)"
                        class="btn btn-danger">
                    Delete
                </button>
                <button ng-click="selectMovie(movie)"
                        class="btn btn-info">
                    Select
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>







