<div class="container" ng-controller="SearchController">
<h1>Search Results</h1>
{{eventsearch}}

<!--<table class="table table-striped" ng-controller="SearchController">
    <thead>
    <tr>
        <th>Event Name</th>
        <th>Event Location</th>
        <th>Event Date</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="eventsearch details">
        <td>{{eventsearch. eventname}}</td>
        <td>{{eventsearch.eventlocation}}</td>
        <td>{{eventsearch.eventdate}}</td>
        <td>{{eventsearch.eventcategory}}</td>
    </tr>
    </tbody>
</table> -->
    </div>